.xdh-curd {
  margin-bottom: 10px;
  &--fit {
    height: 100%;
    overflow: hidden;
    margin-bottom: 0;

    & > .xdh-layout__wrapper {
      position: relative;
      & > .xdh-layout__main {
        position: absolute;
        width: 100%;
        height: 100%;
        .el-table {
          height: 100%
        }
      }
    }
  }
  .xdh-filter-panel, .xdh-list-panel {
    margin-bottom: 0;
  }
  > .xdh-layout__north {
    margin-bottom: 10px;
  }

}
